---
layout: archive
permalink: /blog/
title: "Blog"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% if site.posts and site.posts.size > 0 %}
  {% assign written_year = "" %}
  {% for post in site.posts %}
    {% assign year = post.date | date: "%Y" %}
    {% if year != written_year %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
      <ul class="blog__list">
      {% assign written_year = year %}
    {% endif %}
    <li class="blog__list-item">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>暂无文章。</p>
{% endif %}
