.blog__list {
  list-style: none;
  margin: 0 0 1.5em 0;
  padding-left: 0;
}

.blog__list-item {
  margin: 0.25em 0;
}

.blog__list-item a {
  text-decoration: none;
}

.blog__list-item a:hover {
  text-decoration: underline;
}

.about__photo {
  display: block;
  width: 100%;
  max-width: 390px; /* match askell.io's ~387px image width on desktop */
  height: auto;
  margin: 1.5em 0;
  border-radius: 5%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}
